@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Poppins&display=swap');

.headingText {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: black;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    margin-left: 1rem;
}